.nav-bar {
  padding: 1rem 0;
}
.logo {
  list-style: none;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.06rem;
  padding: 0.7rem;
  border-radius: 3px;
}
.nav-item {
  list-style: none;
  margin-left: 1rem;
  color: black;
  padding: 0.7rem;
  outline: none;
  letter-spacing: 0.06rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 3px;
}
.selected-nav-item {
  background: #00ffa4;
  color: black;
}
